annotated-types==0.6.0
anyio==4.2.0
click==8.1.7
exceptiongroup==1.2.0
fastapi==0.109.2
h11==0.14.0
idna==3.6
mypy==1.9.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
numpy==1.24.4
orjson==3.10.1
pandas==2.0.3
pydantic==2.6.0
pydantic_core==2.16.1
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy @ git+https://github.com/sqlalchemy/sqlalchemy.git@a124a593c86325389a92903d2b61f40c34f6d6e2
starlette==0.36.3
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2024.1
uvicorn==0.27.0.post1